.btn{
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    color: white;
    padding: 10px;
    margin: 10px;
}

.success{
    background-color: #388e3c;
}

.danger{
    background-color: rgb(232, 54, 5);
}